body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #c5f3ff;
    background-image: linear-gradient(62deg, #c5f3ff 0%, #eedbff 100%);

}

header {
    background-color: #010744;
    background-image: linear-gradient(160deg, #010744 0%, #365f84 100%);
    color: #fff;
    padding: 24px 0;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0px 0px 12px 12px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-right: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo h1 {
    margin: 0;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    transition: all 300ms ease;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.container {
    padding: 40px;
}

footer {
    background-color: #010744;
    background-image: linear-gradient(287deg, #010744 0%, #365f84 100%);
    color: #fff;
    text-align: center;
    padding: 16px 0;
    border-radius: 12px 12px 0px 0px;
}


.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.profile-image {
    max-width: 30%;
    letter-spacing: 30px;
    padding-left: 30px;
}

.profile-image img {
    width: 100%;
    border-radius: 50%;
    
}

.description {
    max-width: 50%;
    padding: 0 20px;
    font-size: 22px;
}

h2 {
    display: block;
    font-size: 36px;
    color: black;
}


.skills {
    padding: 30px 0;
}

.skill {
    margin-bottom: 20px;
}

.skill h2 {
    margin: 10px 0;
}

.skill-bar {
    height: 20px;
    border-radius: 10px;
    background-color: #214ffd;
    background-image: linear-gradient(19deg, #214ffd 0%, #B721FF 100%);
}


.projects {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.project {
    width: 44%;
    background-color: #fb937e;
    background-image: linear-gradient(62deg, #fb937e 0%, #F7CE68 100%);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project img {
    width: 100%;
    border-radius: 10px;
}


.resume {
    padding: 40px 0;
}

.resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #214ffd;
    background-image: linear-gradient(19deg, #214ffd 0%, #B721FF 100%);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}


.contact {
    padding: 40px 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: black;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    color: black;
}

.contact-form input,
.contact-form textarea {
    background-color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 10px;
    border-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 3px, rgba(240, 46, 170, 0.3) 0px 5px, rgba(240, 46, 170, 0.2) 0px 7px, rgba(240, 46, 170, 0.1) 0px 9px, rgba(240, 46, 170, 0.05) 0px 11px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #FFE53B;
    background-image: linear-gradient(280deg, #FFE53B 0%, #FF2525 74%);
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}